@use'variaveis';

.header{
    position: sticky;
    top:0;
    left: 0;
    background-color: variaveis.$corDeFundo;
    transition: background-color .5s ease;
    z-index: 1;
    @media(max-width:768px)
    {
    padding:0 32px;
    height:70px;

    }

    &--is-hidden{
        background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.03) 15%, rgba(0, 0, 0, 0.125) 30%, rgba(0, 0, 0, 0.25) 46%, rgba(0, 0, 0, 0.4) 61%, rgba(0, 0, 0, 0.553) 75%, rgba(0, 0, 0, 0.694) 88%, rgba(0, 0, 0, 0.8));
        transition: background-color .5s ease;  
        .header{
            &__logo, &__links__item:first-child{
                opacity: 0;
                visibility: hidden;
                transition: opacity .5s ease;
            }
        }
        
    }
    &__container{
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;
        @media(max-width:768px){
            padding: 8px 0;
        }

    }
    &__logo{
        max-width: 80px;
        width: 100%;
        margin: 5px;
        transition: opacity .5s ease;
        @media(max-width:768px){
            max-width: 64px;
        }


    }
    &__links{
        display: flex;
        &__item{
            margin: 5px;
            transition: opacity .5s ease;


        }
    }
    .button{
        height:50px;
        
        @media(max-width:768px)
        {
            font-size:15px;
            height:40px;
            padding:8px 11px;
            letter-spacing:0;
            &--hidden{
                display: none;
            }
        }
    }
}


