@use'variaveis';

.header{
    position: sticky;
    top:0;
    left: 0;
    background-color: variaveis.$corDeFundo;
    transition: background-color .5s ease;
    z-index: 1;


    &--is-hidden{
        background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.03) 15%, rgba(0, 0, 0, 0.125) 30%, rgba(0, 0, 0, 0.25) 46%, rgba(0, 0, 0, 0.4) 61%, rgba(0, 0, 0, 0.553) 75%, rgba(0, 0, 0, 0.694) 88%, rgba(0, 0, 0, 0.8));
        transition: background .5s ease; 
    }

    &__profile{
        display: flex;
        flex-direction: row;
        align-items: center;
        border: none;
        background: none;
        &:hover{
            margin-bottom: 2px;
            border-bottom: 1px solid variaveis.$corTextoPrincipal;
        }
        img{
            max-width: 48px;
            width: 100%;
            border-radius: 50%;
            margin-left: 16px;

        }
    }
    &__container{
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;

        @media(max-width:768px){
            padding: 0 12px 0 20px;
        }
    }
    &__logo{
        max-width: 80px;
        width: 100%;
        margin: 5px;
        transition: opacity .5s ease;
        @media(max-width:768px){
            max-width: 64px;
        }


    }
    &__links{
        display: flex;
        &__item{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 5px;
            span{
                margin-right: 10px;
            }
            &--mobile{
                display: none;
            }
        }
    }

}
.button{
    font-size: 13px;
    margin-right: 20px;
    @media(max-width:768px)
    {
        font-size:10px;
        height:20px;
        padding:8px 11px;
        letter-spacing:0;
    }
}
