@use'variaveis';
.shows
{    
    padding: 0 5.6vw;
    &__infos{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap:24px;
        
        @media(max-width:1024px){
            gap:14px;
            &__info{
                &--line{
                    grid-column: 1/4;
                    margin-bottom: 18px;
                }
                &--list,&--colunm{
                    margin-top:8px;
                }
                &--list{
                    grid-column:1/2;
                }
                &--colunm{
                    grid-column: 2/3;
                }

            }
        }
        @media(max-width:768px){
            gap: 4px;
            &--colunm{
                grid-column: 3/4;
            }
        }

        &__info
        {
            display: flex;
            flex-direction: column;
            justify-content: left;
            text-align: left;
            margin-top: 14px;
            @media(min-width:1025px){
                &--list{
                    margin-top: 60px;
                    padding-left: 16px;
                }
            }
            .title--big, .title--xl{
                margin-bottom: 14px;
                padding-right: 16px;
            }
            &__item{
                display: block;
                margin-bottom: 8px;
                
                img{
                    max-width: 20px;
                    width:100%;
                }
            }
            }     
        }
        &__details
        {   
            border-bottom: 1px solid variaveis.$corTextoPrincipal;
            .text--xl{
                padding-bottom: 15px;
                text-transform: uppercase;
            }
            }
    }
    
