@use'variaveis';

.background{
    background: url(../images/hero.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    &__gradient{
        background: linear-gradient(to bottom, rgba(variaveis.$corDeFundo,.5),rgba(variaveis.$corDeFundo,1));
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;    
    }
}