@use 'variaveis';
@use 'background';
@use'header';
@use'popupMenu';
@use 'hero';
@use 'shows';
@use'sugestions';
@use'footer';

@font-face{
font-family: Avenir;
src: url(../../Assets/Fonts/Avenir-Regular.woff2);
}
@font-face{
    font-family: Avenir;
    src: url(../../Assets/Fonts/Avenir-Bold.woff2);
    font-weight: 700;
    }
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style: none;


}
body{
    background: variaveis.$corDeFundo;
}
@mixin text($fontSize:14px){
    font-size: $fontSize;
    line-height: $fontSize+10px;
    color: variaveis.$corTextoPrincipal;
}
@mixin title($fontSize:14px)
{
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}
.text--xl
{
    @include text(20px);
}
.text--big
{
    @include text(18px);
}

.text{
    @include text;
}


.text--small{
    @include text(12px);
}
.title--xl
{
    @include title(24px);

}
.title--big
{
    @include title(18px);
}

.title
{
    @include title;

}
.title--small
{
    @include title(12px);
}

.button{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color:variaveis.$corDeFundo;
    background-color:variaveis.$corBotaoPrimario;
    text-transform: uppercase;
    border-radius:4px;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    border: 1px solid variaveis.$corBotaoPrimario;
    &:hover{
        background-color: darken(variaveis.$corBotaoPrimario,3%);

    }
    &--dark{
        background-color: rgba(variaveis.$corBotaoDark, .8);
        border-color: variaveis.$corTextoSecundario;
        color:variaveis.$corTextoSecundario; ;
        &:hover{
            background-color:variaveis.$corTextoSecundario;
            color:variaveis.$corBotaoDark;
        }
    }

    @media(max-width:768px)
    {
        font-size: 15px;
        padding:9px 12px;
        height: 40px;
    }
    }

